/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(200.96deg,
      #fedc2a -29.09%,
      #dd5789 51.77%,
      #7a2c9e 129.35%);
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.juan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.body {
  min-width: 750px;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 92%;
  height: 70%;
  backdrop-filter: hue-rotate(-20deg);
  border-radius: 20px;
  padding: 30px;
}

.img-container {
  position: static;
  right: 10px;
  margin-left: 30px;
}

.img-container img {
  width: 250px;
  border-radius: 300px;
}

.fake-img {
  width: 250px;
  height: 250px;
  border-radius: 300px;
  background: linear-gradient(90deg, #888888, #a1a1a1);
  background-size: 400% 400%;
  animation: skeleton-anim 3s linear infinite alternate;
}

.inputs {
  min-width: 50%;
  margin-inline: 10px;
  height: 320px;
}

input {
  width: 125px;
  border-radius: 5px;
  border: 0px none;
  height: 20px;
  margin-inline: 2px;
}

p {
  height: 20px;
  margin: 0;
  margin-inline: 2px;
  width: 125px;
}

.fake-inp {
  margin-block: 0px;
  width: 125px;
  border-radius: 5px;
  height: 20px;
  margin-inline: 2px;
  background: linear-gradient(90deg, #888888, #a1a1a1);
  background-size: 400% 400%;
  animation: skeleton-anim 3s linear infinite alternate;
}

.inputs .row {
  margin-block: 20px;
  display: flex;
  flex-direction: row;
}

textarea {
  max-width: 340px;
  max-height: 200px;
  border: 0px none;
  border-radius: 5px;
}

.fake-area {
  margin-block: unset;
  width: 261px;
  height: 154px;
  background: linear-gradient(90deg, #888888, #a1a1a1);
  background-size: 200% 200%;
  animation: skeleton-anim 3s linear infinite alternate;
}

@keyframes skeleton-anim {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
